apiVersion: v1
baseDomain: dynamic.opentlc.com
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: 2 
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: l7t84
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 192.168.10.0/24
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
fips: false
pullSecret: '{"auths":{"cloud.openshift.com":{"auth":"b3BlbnNoaWZ0LXJlbGVhc2UtZGV2K21vaHphaGVyMWVyZW9rdWs4cnk0anNkdDZtMXZlbmUyeWdpOklJNkQzT1IxRExaVEwwVDU0QUM1UlVaOEYzQUs1UERETVFTUzhFM080UTVBVDk3TDJEQVg5SThBTVlTNkIyMks=","email":"mzaher@redhat.com"},"quay.io":{"auth":"b3BlbnNoaWZ0LXJlbGVhc2UtZGV2K21vaHphaGVyMWVyZW9rdWs4cnk0anNkdDZtMXZlbmUyeWdpOklJNkQzT1IxRExaVEwwVDU0QUM1UlVaOEYzQUs1UERETVFTUzhFM080UTVBVDk3TDJEQVg5SThBTVlTNkIyMks=","email":"mzaher@redhat.com"},"registry.connect.redhat.com":{"auth":"NTI2NDQyMjV8dWhjLTFlUmVva1VLOHJZNEpTZHQ2TTFWRU5lMllHaTpleUpoYkdjaU9pSlNVelV4TWlKOS5leUp6ZFdJaU9pSmpZMkptWVRjM01URm1NREUwTXpBNFlXUTVZalExTldGbE5tTXhNV0kyTkNKOS5WQzNWSXJTZDE1YTc3cUdTOEJSYjVnWE9JUGlYNDlidmpSaUhwWGVTdW85a2xoWXNVeDFyUlE4dkpsQTJCdUQ1SmcyZzBac2VNVEtXdGppZkwxNEwxcDRZWXVGckZ3bjRxdmo5VXhJNU1vMDdTSjU1YlpNcVF3NTlSajBIeTRzNjlPS2J5bkpGVFdlbVVnYU1nVjJwRXhtMmZqNXBnc2Z2WnlBclJLWThzSl9nS0h2ME80TXJ0T3JKdXFGWTEwOFA5SUpBTE9lTHVpZ3hHcmk2NEwzRHlRQXFvNmExY3JINW1tSkNSOVZEdHB5SDM3d3NoMG1KeUdxTThteF9aNDdHLWhpYTBJSTRReFJLa2Q2bzU5VWs2X2YzdkFFNHMzZEh0WWZSREkwMTl4RjFRQjNLZTg0NlpkcGxUSU9kX2VaQmxlblBWOG1GLUNqaF9QaWx5N2hWVXNUOFlnMVNVbEhlYWhtVkNFenZ1OGJrTTFOeFVCOUxkam15WElmMjRfSjV0ODV0ZFNwcy1fZzlBUzU4eEhsRmhWTlZoalVtX19BUjRTOHVobG5JMDVxZ3dnMklFbkZqSHlQN2pqd25PMHZjODhSVktPNFJwZ3VnR3VCZVFtbVhEaDhkcFRUbU0tdy1JVG1fZGotcTBhcXFUSDRHTEcxQ3VKLWpRUVhpbkFtSENacW9DdjhmMGs4RDFOa2ZhaFpndHc0dVUwcU50cm94ZFo0WE9YWlZpdFRScXZVYjdKX1pJVDBncGZhaTZxYWZadlpPWk83MGtaalAwcWk3SEFGSzl1dHc0a3RKNVNwb1hqMjdyaXdSV1NFVnA4eV8waGo2ZXhEdHgwWDc2U0lPc1pKQVhEYlJRUWlEWHVCTndBenU2SXA0WWVnV2htSElLaWItY2tRR0hpSQ==","email":"mzaher@redhat.com"},"registry.redhat.io":{"auth":"NTI2NDQyMjV8dWhjLTFlUmVva1VLOHJZNEpTZHQ2TTFWRU5lMllHaTpleUpoYkdjaU9pSlNVelV4TWlKOS5leUp6ZFdJaU9pSmpZMkptWVRjM01URm1NREUwTXpBNFlXUTVZalExTldGbE5tTXhNV0kyTkNKOS5WQzNWSXJTZDE1YTc3cUdTOEJSYjVnWE9JUGlYNDlidmpSaUhwWGVTdW85a2xoWXNVeDFyUlE4dkpsQTJCdUQ1SmcyZzBac2VNVEtXdGppZkwxNEwxcDRZWXVGckZ3bjRxdmo5VXhJNU1vMDdTSjU1YlpNcVF3NTlSajBIeTRzNjlPS2J5bkpGVFdlbVVnYU1nVjJwRXhtMmZqNXBnc2Z2WnlBclJLWThzSl9nS0h2ME80TXJ0T3JKdXFGWTEwOFA5SUpBTE9lTHVpZ3hHcmk2NEwzRHlRQXFvNmExY3JINW1tSkNSOVZEdHB5SDM3d3NoMG1KeUdxTThteF9aNDdHLWhpYTBJSTRReFJLa2Q2bzU5VWs2X2YzdkFFNHMzZEh0WWZSREkwMTl4RjFRQjNLZTg0NlpkcGxUSU9kX2VaQmxlblBWOG1GLUNqaF9QaWx5N2hWVXNUOFlnMVNVbEhlYWhtVkNFenZ1OGJrTTFOeFVCOUxkam15WElmMjRfSjV0ODV0ZFNwcy1fZzlBUzU4eEhsRmhWTlZoalVtX19BUjRTOHVobG5JMDVxZ3dnMklFbkZqSHlQN2pqd25PMHZjODhSVktPNFJwZ3VnR3VCZVFtbVhEaDhkcFRUbU0tdy1JVG1fZGotcTBhcXFUSDRHTEcxQ3VKLWpRUVhpbkFtSENacW9DdjhmMGs4RDFOa2ZhaFpndHc0dVUwcU50cm94ZFo0WE9YWlZpdFRScXZVYjdKX1pJVDBncGZhaTZxYWZadlpPWk83MGtaalAwcWk3SEFGSzl1dHc0a3RKNVNwb1hqMjdyaXdSV1NFVnA4eV8waGo2ZXhEdHgwWDc2U0lPc1pKQVhEYlJRUWlEWHVCTndBenU2SXA0WWVnV2htSElLaWItY2tRR0hpSQ==","email":"mzaher@redhat.com"}}}'
sshKey: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPpTz0TAlqTSGRD3hr3jCXiks8spfF+/b/bEFilgkLEc lab-user@bastion-l7t84'