$TTL 1D
@   IN SOA  dns.{{ clusterdomain }}.  root.dns.{{ clusterdomain }}. (
                                        2020012511      ; serial
                                        1D              ; refresh
                                        1H              ; retry
                                        1W              ; expire
                                        3H )            ; minimum
@       IN      NS      dns.{{ clusterdomain }}.
ocp.    IN      NS      dns.{{ clusterdomain }}.
2      IN    PTR    dns.{{ clusterdomain }}.
10     IN    PTR    ns1.{{ clusterdomain }}.
111     IN    PTR    api.{{ clusterdomain }}.
111     IN    PTR    api-int.{{ clusterdomain }}.
100     IN    PTR    master-0.{{ clusterdomain }}.
101     IN    PTR    master-1.{{ clusterdomain }}.
102     IN    PTR    master-2.{{ clusterdomain }}.
200     IN    PTR    worker-0.{{ clusterdomain }}.
201     IN    PTR    worker-1.{{ clusterdomain }}.
202     IN    PTR    worker-2.{{ clusterdomain }}.